@model AllIsFair.Models.PlayerVM

<h4>@Model.Name</h4>
<br />
<h4>Health: @Model.Health</h4>
<h4>Strength: @Model.Strength</h4>
<h4>Speed: @Model.Speed</h4>
<h4>Sanity: @Model.Sanity</h4>
<h4>Perception: @Model.Perception</h4>
<br />
<h4>Threat: @Model.Threat</h4>
<br />
<h4>Survivability: @Model.Survivability</h4>